@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0 3rem 0 3rem;
    font-family: 'Open Sans', sans-serif;
    --text-color: black;
    --border-color: black;
    --bkg-color: white;
    --even-list-color: rgb(247, 247, 247);
    --hover-color: rgb(216, 216, 216);

    background: var(--bkg-color);
    color: var(--text-color);
}

body.dark {
    --text-color: white;
    --border-color: white;
    --bkg-color: #121212;
    --even-list-color: #1a1a1a;
    --hover-color: #1a1a1a;
}

button {
    background: var(--bkg-color);
    color: var(--text-color);
    height: 1.5rem;
    width: 4rem;
    border: 1px solid var(--border-color);
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

button:active {
    background:rgb(187, 187, 187)
}

input, select {
    background: var(--bkg-color);
    color: var(--text-color);
}

input::placeholder {
    color: var(--text-color);
}

/* Header */
.header {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
    font-size: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header .user {
    font-size: 2.2rem; 
}

/* Dashboard */
.dashboard {
    background: var(--bkg-color);
    position: absolute;
    right: 3rem;
    width: 17rem;
    border: 1px solid var(--border-color);
    padding: 1rem 0 1rem 0;
} 

.dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.dashboard-content h3 {
    margin: 0;
    font-size: 1.7rem;
}

.dashboard-content h4 {
    margin: 0;
    font-size: 1.3rem;
}

.dashboard-content .workout-list {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    width: 80%;
    height: 60%;
    padding: 0.75rem 0 0.75rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dashboard-content li {
    font-size: 1.15rem;
    text-align: center;
}

.dashboard-content li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.dashboard-content button {
    width: 6rem;
}

.login-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.login-register h3 {
    margin: 0;
    font-size: 1.7rem;
}

.login-register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 80%;
}

.login-register button {
    width: 5rem;
}

/* Content */
.content {
    height: 90vh;
    display: grid;
    grid-template-columns: 25% 74%;
    grid-template-rows: 525px 300px;
    gap: 1rem;
}

/* ExerciseList */
.exercise-list {
    display: flex;
    flex-direction: column;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.list-header h2 {
    margin: 0;
    font-size: 1.7rem;
}

.list-header form {
    height: 1.5rem;
    display: flex;
    gap: 0.5rem;
}

.list-header select {
    width: 10rem;
}

.exercise-list > .list-container {
    flex: 1;
    width: 100%;
    border: 1px solid var(--border-color);
    overflow-y: auto;
}

/* ListItem */
.list-item {
    padding: 0.25rem;
}

.list-item.even {
    background: var(--even-list-color);
}

.list-item.odd {
    background: var(--bkg-color);
}

.list-item:hover {
    cursor: pointer;
    border: 1px solid var(--border-color);
}

.list-item h3, 
.list-item p {
    margin: 0;
}

.muscle-groups {
    display: flex;
    gap: 1rem;
}

/* CurrentWorkout */
.current-workout {
    display: flex;
    flex-direction: column; 
}

.workout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workout-header .workout-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.workout-header h2 {
    margin: 0;
    font-size: 1.7rem;
}

.workout-header input {
    font-size: 1.7rem;
    border: none;
    outline: none;
}

.current-workout .buttons {
    display: flex;
    gap: 1rem;
}

.current-workout .workout-container {
    flex: 1;
    border: 1px solid var(--border-color);
    overflow-y: auto;
}

/* SaveModal */
.save-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    right: 2%;
    width: 300px;
    border: 1px solid var(--border-color);
    background: var(--bkg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.save-modal p {
    text-align: center;
}

/* WorkoutItem */
.workout-item {
    height: 15%;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.workout-item > .info {
    position: relative;
    width: 350px;
    padding: 0.25rem;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.workout-item .remove-button {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translate(-50%, -50%);
}

.workout-item .remove-button:hover {
    cursor: pointer;
}

.workout-item > .info h3,
.workout-item > .info p {
    margin: 0;
}

.exercise-sets {
    display: flex;
    overflow-x: auto;
}

.exercise-sets .add-button {
    border-right: 1px solid var(--border-color);
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.exercise-sets .add-button:hover {
    cursor: pointer;
    background: var(--hover-color);
}

/* ExerciseSet */
.exercise-set {
    border-right: 1px solid var(--border-color);
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.exercise-set p {
    margin: 0;
}

.exercise-set input {
    width: 70%;
    font-size: 1.3rem;
    border: none;
    outline: none;
    text-align: center;
}

/* ExerciseCreator */
.exercise-creator {
    border: 1px solid var(--border-color);
    width: 100%;   
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exercise-creator > .overlay {
    height: 100%;
    width: 100%;
    background: var(--bkg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.creator-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.creator-content h3,
.creator-content p {
    margin: 0;
    text-align: center;
}

.creator-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.creator-content form input,
.creator-content form select {
    width: 100%;
    font-size: 1rem;
}

.creator-content form button {
    margin-top: 1rem;
    width: 8rem;
}

/* WorkoutStats */
.workout-stats {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.7rem;
}

.stats-module {
    padding: 0 0.5rem 0 0.5rem;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.stats-module h3,
.stats-module p {
    margin: 0;
    text-align: center;
}