body {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.header > .right-section > button {
    height: 2rem;
    width: 7rem;
}

.header .user-info h3,
.header .user-info p {
    margin: 0;
    text-align: right;
}

.header .user-info p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Dashboard */
.dashboard {
    position: fixed;
    right: 15px;
    top: 27px;
    height: 400px;
    width: 250px;
    border: 1px solid black;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.dashboard h3 {
    font-size: 25px;
    margin: 0;
}

.dashboard ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dashboard li:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Login/Registration Modal */
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    height: 250px;
    width: 400px;
    border: 1px solid black;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal > .close-button {
    position: absolute;
    right: 6px;
    top: 5px;
    font-size: 25px;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modal-content form {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

form input {
    width: 100%;
    height: 1.5rem;
}

.modal-content p {
    font-style: italic;
    cursor: pointer;
}

.modal-content p:hover {
    text-decoration: underline;
}

/* Exercise section */
.exercise-section {
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ExerciseList */
.exercise-list > h3 {
    margin: 0;
    font-size: 30px;
}

.exercise-list > .container {
    height: 500px;
    width: 100%;
    border: 1px solid black;
    overflow-y: auto;
}

/* ListItem */
.list-item {
    padding: 0.25rem;
}

.list-item:not(.first) {
    border-top: 1px solid black;
}

.list-item:hover {
    background: rgb(216, 216, 216);
}

.list-item h3, 
.list-item p {
    margin: 0;
}

.exercise-info {
    display: flex;
    gap: 1rem;
}

.exercise-info > .equipment {
    font-weight: 700;
}

.exercise-info p:not(.equipment) {
    font-style: italic;
}

/* ExerciseCreator */
.exercise-creator {
    border: 1px solid black;
    width: 100%;   
    height: 300px; 
}

.exercise-creator > .overlay {
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creator-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creator-content h3,
.creator-content p {
    margin: 0;
}

.creator-content form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}

form button {
    width: 40%;
}

/* CurrentWorkout */
.current-workout > .options {
    display: flex;
    justify-content: space-between;
}

.current-workout > .options > button {
    width: 5rem;
}

.current-workout .workout-name {
    display: flex;
    gap: 5px;
}

.current-workout .workout-name > h3 {
    margin: 0;
    font-size: 30px;
}

.current-workout .workout-name > input {
    font-size: 30px;
    border: none;
    outline: none;
}

.current-workout > .workout-container {
    height: 500px;
    width: 70vw;
    border: 1px solid black;
    overflow-y: auto;
}

.current-workout > .stats-container {
    margin-top: 15px;
    width: 70vw;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 7px;
}

/* StatsModule */
.stats-module {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* WorkoutItem */
.workout-item {
    border-bottom: 1px solid black;
    height: 100px;
    display: flex;
}

.workout-item > .info {
    border-right: 1px solid black;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
}

.workout-item > .info > h3,
.workout-item > .info > p {
    margin: 0;
}

.workout-item > .info > .remove-button:hover {
    text-decoration: underline;
}

.exercise-sets {
    display: flex;
}

.exercise-sets > .add-button {
    border-right: 1px solid black;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.exercise-sets > .add-button:hover {
    background: rgb(216, 216, 216);
}

/* ExerciseSet */
.exercise-set {
    border-right: 1px solid black;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.exercise-set > p {
    margin: 0;
}

.exercise-set > input {
    width: 70%;
    height: 50%;
    font-size: 30px;
    border: none;
    outline: none;
    text-align: center;
}

.exercise-set > input:focus {
    border: none;
    outline: none;
}

