.list-item {
    border-top: 1px solid black;
}

.list-item.first {
    border-top: 0;
}

.list-item:hover {
    background: rgb(216, 216, 216);
}

.list-item h3 span {
    font-weight: 500;
}

.target-muscles {
    display: flex;
    gap: 10px;
    font-style: italic;
    font-size: 20px;
}