.workout-item {
    border-bottom: 1px solid black;
    height: 100px;
}

.exercise-info {
    border-right: 1px solid black;
    height: 100%;
    width: 200px;
}

.exercise-info h3 {
    font-size: 25px;
}

.exercise-info > .remove-button {
    font-style: italic;
}

.exercise-info > .remove-button:hover {
    text-shadow: 2px 2px yellow;
}